<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>Crypto Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>

	{% block body %}
		<div class="col-lg-8 mx-auto p-3 py-md-5">
      <header class="pb-3 mb-5 border-bottom">
        <nav class="navbar justify-content-between">
          <span class="navbar-brand mb-0 h1">Crypto Tracker</span>
          <div>
            {% if app.user %}
            <a href="#" class="btn btn-outline-primary mx-3"><i class="bi bi-pencil-square"></i></a>
            <a href="{{ path('add_product') }}" class="btn btn-outline-primary mx-3"><i class="bi bi-plus-circle"></i></a>
			<a href="{{ path('app_chart') }}" class="btn btn-outline-primary mx-3"><i class="bi bi-graph-up"></i> Vos investissements</a>
            <a href="{{ path('app_logout') }}" class="btn btn-outline-primary mx-3">Me déconnecter</a>
            {% else %}
            <a href="{{ path('app_register') }}" class="btn btn-outline-primary mx-3">M'inscrire</a>
            <a href="{{ path('app_login') }}" class="btn btn-outline-primary mx-3">Me connecter</a>
            {% endif %}
          </div>
        </nav>
      </header>

  <main>
    <div class="album py-5" id="france">
		<div class="container">
            <h1 class="mb-5">Cours des cryptomonnaies</h1>
			<div class="row g-3">
				<div class="row my-3">
					<div class="card">
						<div class="card-body">
              <span>Mis à jour le {{ response.status.timestamp|date("d/m/Y", "Europe/Paris") }} à {{ response.status.timestamp|date("H:i:s", "Europe/Paris") }}</span>
							<h5 class="card-title">Prix du BTC : {{ response.data|filter(_ => _.symbol == 'BTC')|map(_ => _.quote.EUR.price|format_currency('EUR', {rounding_mode: 'floor'}, locale='fr'))|join() }}</h5>
						</div>
					</div>
				</div>
                <div class="row my-3">
					<div class="card">
						<div class="card-body">
              <span>Mis à jour le {{ response.status.timestamp|date("d/m/Y", "Europe/Paris") }} à {{ response.status.timestamp|date("H:i:s", "Europe/Paris") }}</span>
							<h5 class="card-title">Prix du ETH : {{ response.data|filter(_ => _.symbol == 'ETH')|map(_ => _.quote.EUR.price|format_currency('EUR', {rounding_mode: 'floor'}, locale='fr'))|join() }}</h5>
						</div>
					</div>
				</div>
                <div class="row my-3">
					<div class="card">
						<div class="card-body">
              <span>Mis à jour le {{ response.status.timestamp|date("d/m/Y", "Europe/Paris") }} à {{ response.status.timestamp|date("H:i:s", "Europe/Paris") }}</span>
							<h5 class="card-title">Prix du XRP : {{ response.data|filter(_ => _.symbol == 'XRP')|map(_ => _.quote.EUR.price|format_currency('EUR', {rounding_mode: 'floor'}, locale='fr'))|join() }}</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </main>

  {% endblock %}

  <footer class="pt-5 my-5 text-muted">
    Created by Me
  </footer>
</div>

		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
